<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683384480711-g6bj8n7hk963bntgu6gaq8qq0ags8f9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683384480711-g6bj8n7hk963bntgu6gaq8qq0ags8f9j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>683384480711-3s9njmjdvf2lgf4aeiebmo1bibm2pc9t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCkhfJBDT06ZxTOQEIbpU_I1o-5aAqu8I</string>
	<key>GCM_SENDER_ID</key>
	<string>683384480711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paymentasia.papay</string>
	<key>PROJECT_ID</key>
	<string>pa-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>pa-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683384480711:ios:636fa431093c2bee</string>
	<key>DATABASE_URL</key>
	<string>https://pa-mobile.firebaseio.com</string>
</dict>
</plist>